@model IEnumerable<MyStoreApp2.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<h1>Danh sách sản phẩm</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Thêm sản phẩm mới</a>
    </p>
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryID)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-sm btn-warning">Sửa</a>
                    <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-sm btn-info">Chi tiết</a>
                @if (User.IsInRole("Admin"))
                {
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-sm btn-danger">Xóa</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
